* {
    font-size: large;
    font-family: Bahnschrift Light;
}
Button {
    background-color: #22222a;
    color: #c7c8dc;
   
}
Label {
    color: #c7c8dc;
    background-color: #30323e;
}
.BotoAc {
    background-color: #62385e;
}
.Operaciones {
    background-color: #414659;
    text-align: right;
}

.Igual {
    background-color: #304280;
}